<h1>Create An Account</h1>

<form action="/session/create_account" method="post">

  <label for="">Username</label>
  <input type="text" name="username">

  <label for="">Email Address</label>
  <input type="text" name="email">

  <label for="">Password</label>
  <input type="password" name="password">
  <button class="btn waves-effect">Submit</button>

</form>