<h1>Create An Account</h1>

<% if @user %>
  <% @user.errors.full_messages.each do |error| %>
    <ul>
      <li><%= error %></li>
    </ul>
  <% end %>
<% end %>

<form action="/session/create_account" method="post">

  <label for="">Username</label>
  <input type="text" name="username">

  <label for="">Email Address</label>
  <input type="text" name="email">

  <label for="">Password</label>
  <input type="password" name="password">
  <button class="btn waves-effect">Submit</button>

</form>